body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

#pixel-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixel-grid {
    display: grid;
}

.pixel {
    border: 1px solid #000;
    box-sizing: border-box;
}
